<div [ngClass]="{ 'highlighted': isProductInStock }" class="article-item">
  <img [src]="imageUrl" alt="{{ name }}" class="article-image" />

  <div class="article-details">
    <h2>{{ name }}</h2>
    <p [ngClass]="{ 'not-on-sale': !isOnSale }">Precio: {{ price }} €</p>
    <ng-container *ngIf="isOnSale">
      <p>Disponible</p>
      <p>Cantidad: {{ quantityInCart }}</p>

      <div>
        <button (click)="incrementQuantity()">+</button>
        <button (click)="decrementQuantity()" [disabled]="quantityInCart === 0">-</button>
      </div>
    </ng-container>
  </div>
</div>